/* Do these need to be reordered? */


@media only screen and (min-width: 1024px) {
    body{ 
  background: #0000FF;
  width:25%;
}
}


@media only screen and (min-width: 780px) {
    body{ 
  background: #FFFF00; 
  width:50%;
}
}

body{ 
width:100%;
background: #008800; 
font-size:150%;
}

