/*BODY STYLING*/
body {
    /*Padding and Margin*/
    padding: 15px;
    margin: 5px;
}

/*HEADER STYLING*/
header {
    /*Background Color*/
    background-color: #E5E7E9;
    /*Background Image*/
    background-image: url("../images/flywheel.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    /*Padding*/
    padding: 30px;
}

/*H1 STYLING*/
h1 {
    /*General Styling*/
    color: #FFFFFF;
    font-size: 200%;
    text-align: center;
}

/*LINK STYLING*/
nav > a {
    /*Display*/
    background-color: rgba(255, 255, 255, 0.5);
    color: #000000;
    text-align: center;
    font-size: 125%;
    border: 5px #FFFFFF;
    display: inline-block;
    /*Margin*/
    margin: 15px;
    /*Border Radius*/
    border-radius: 8%;
    /*Text Decoration*/
    text-decoration: none;
    /*Padding*/
    padding: 20px 70px;
    
}

/*THE ( ACTIVE ) CLASS STYLING*/
.active {
    background-color: #FFFFFF;
}

/*THE ( LEFT ) CLASS STYLING*/
.left {
    /*Background Color*/
    background-color: #485B0E;
    display: inline-block;
    width: 200px;
    height: 500px;
    padding: 5px;
}

/*THE ( RIGHT ) CLASS STYLING*/
.right {
    display: inline-block;
    vertical-align: top;
    width: 500px;
    height: 500px;
    padding: 5px;
}

/*IMAGES STYLING*/
img {
    /*Border*/
    border: 10px 10px 10px 10px;
    display: block;
    /*Horizontally-Centered*/
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    /*Vertical Space*/
    margin-top: 40px;
    margin-bottom: 40px;
    
}

/*Table Styling*/
table {
    /*Table Styling*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 125%;
}
th {
    /*Border Header*/
    border-bottom: 5px solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-style: dashed; /*Additional Border Property!*/
    /*Colors*/
    background-color: #485B0E;
    background-image: linear-gradient(#485B0E, #BFCA17);
    /*Font*/
    font-family: helvetica;
    font-size: 105%;
}
tr {
    /*Opacity*/
    opacity: 0.8;
    /*Font*/
    font-family: arial;
}
td {
    /*Background Color*/
    background-color: #AAB46C;
    /*Text Alignment*/
    text-align: center;
    /*Other*/
    border-radius: 2px;
    color: #494949;
    padding: 2px;
}
td:first-child {
    /*First Row Text Alignment*/
    text-align: left;
}
tr:hover {
    /*Opacity Shift*/
    opacity: 1;
}