header{
    background: #B3B3B3;
}

h1{
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase; 
}

nav{
    font-family: Arial, "Time New Roman", serif;
}

aside{
    display: none;
}

section{
    background: #7F7F7F;
}

h2{
    color: #0000FF;
    text-transform: uppercase; 
}

a{
    color: #000000;
    background: #9F9F9F;
}