body{
	background:#Ffffff;
	font-family: helvetica;
	padding: 30px; 
	margin: 1px;
}

header{
	background-color: #080427;
	padding: 30px;
	text-align:center;
	width: 96%;
	background-image: url(../images/flywheel.jpg);
	background-size: cover;
  	background-repeat:no-repeat;
 	background-position: top center;
}

h1{
	color: #000000;

	font-size: 300%;
	text-align: center;
	text-transform: uppercase;
	line-height: 250%;
}

nav a{
	display: inline-block;
	width:12%;
	border-radius: 4px ;
	text-align:center;
  padding: 15px;
  margin: 5px;
  color:#080427;
	background-color: rgba(255, 255, 255, 0.7);
	font-size: 100%;
	text-decoration: none;
}

nav a:hover{
	color: #666666;
	border: solid 0.5px #666666;
	font-size: 100%;
}

.active{
	color:#454568;
	background: #ffffff;
	border: solid 0.5px #666666;
	font-size: 100%;
	opacity: 1;
}

main {
	display: block;
	text-align: left;
	width: 100%;
	margin: auto;
	
}

.left { 
	display: inline-block;
	width:16%;
	background: #CADBE7;
	margin-right: 2%;
	padding: 2%;
	align-items: center;

}

aside img { 
	display: block;	
	width: 100%;
	height: 90%;
	margin-bottom: 12%;
	border: solid #5491AF;
	object-fit: cover;
	background-position: center;
  background-size: cover;
}

aside a:last-child img{
	margin-bottom: 0;
}


.right{
	display: inline-block;
	width:73%;
	vertical-align: top;
}

 h2{
	color: #000000;
	font-size: 220%;
	text-transform: uppercase;
	line-height: 250%;
}

p{
	color: #000000;
	font-size: 120%;
	line-height: 140%;
	text-align: justify;
}